// @import './dynamicVariables.css';
// Before adding any color please have a look at this google doc https://docs.google.com/document/d/1ZcWW2L234tJRJ_-NqhopNy9hTxXApBoLkCWiCG1dWOg/edit?usp=sharing
// Please follow the correct prefix -> color, border, background$unbounded-font: 'Unbounded', sans-serif;
$unbounded-font: var(--unbounded-font);
$primary-font: var(--primary-font);
$secondary-font: var(--secondary-font);

// Colors
$color-primary: var(--color-primary);
$color-white: var(--color-white);
$color-black: var(--color-black);
$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color-5: var(--color-5);
$color-6: var(--color-6);
$color-7: var(--color-7);
$color-8: var(--color-8);
$color-9: var(--color-9);
$color-10: var(--color-10);
$color-11: var(--color-11);
$color-12: var(--color-12);
$color-13: var(--color-13);
$color-14: var(--color-14);
$color-15: var(--color-15);
$color-16: var(--color-16);
$color-17: var(--color-17);
$color-18: var(--color-18);
$color-19: var(--color-19);
$color-20: var(--color-20);
$color-21: var(--color-21);
$color-22: var(--color-22);

// Borders
$border-white: var(--border-white);
$border-black: var(--border-black);
$border-1: var(--border-1);
$border-2: var(--border-2);
$border-3: var(--border-3);
$border-4: var(--border-4);
$border-5: var(--border-5);
$border-6: var(--border-6);
$border-7: var(--border-7);

// Backgrounds
$background-white: var(--background-white);
$background-black: var(--background-black);
$background-1: var(--background-1);
$background-2: var(--background-2);
$background-3: var(--background-3);
$background-4: var(--background-4);
$background-5: var(--background-5);
$background-6: var(--background-6);
$background-7: var(--background-7);
$background-8: var(--background-8);
$background-9: var(--background-9);
$background-10: var(--background-10);
$background-11: var(--background-11);
$background-12: var(--background-12);
$background-13: var(--background-13);
$background-14: var(--background-14);
$background-15: var(--background-15);
$background-16: var(--background-16);
$background-17: var(--background-17);
$background-18: var(--background-18);
$background-19: var(--background-19);
$background-20: var(--background-20);
$background-21: var(--background-21);
$background-22: var(--background-22);
